.contenedorItem {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgb(187, 186, 186);
  background-color: rgb(33, 33, 33);
  width: auto;
}

.contenedorItem .imagen {
  grid-row: 1 / -1;
}

.contenedorItem .texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedorItem h2,
.contenedorItem h3,
.contenedorItem p {
  margin: 0;
}

.contenedorItem .botones {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

.contenedorItem .botones .miBtn {
  margin-top: 10px;
}

.miBtn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.miBtn:hover {
  background-color: #45a049;
}

/* Media queries */
@media screen and (max-width: 480px) {
  .contenedorItem {
    grid-template-columns: 1fr;
  }

  .contenedorItem .imagen {
    grid-row: auto;
  }

  .contenedorItem .botones {
    grid-column: auto;
    grid-row: auto;
  }
}

@media screen and (max-width: 375px) {
  .contenedorItem {
    margin: 10px;
    padding: 10px;
  }
}