.formulario {
    /* Estilos generales del formulario */
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(33, 33, 33);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 5px;
    background-color: rgb(187, 186, 186);
    border: 1px solid #000000;
    border-radius: 3px;
}

.miBtn {
    padding: 10px 20px;
    background-color: rgb(55, 55, 55);
    color: yellowgreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.miBtn:hover {
    background-color: rgb(98, 98, 98);
    color: aqua;
}

.ordenId {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(55, 55, 55);
}