header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(172, 255, 47, 0.723);
    background-color: rgb(33, 33, 33);
    box-sizing: border-box;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

li:hover{
    transform: scale(1.4);
}

.nav{
    color: rgba(172, 255, 47, 0.723);
    text-decoration: none;
}

.nav:hover{
 color: aqua;   
 }

h1{
    margin: 1rem;
}