header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(172, 255, 47, 0.723);
    background-color: rgb(33, 33, 33);
    box-sizing: border-box;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

li:hover {
    transform: scale(1.4);
}

.nav {
    color: rgba(172, 255, 47, 0.723);
    text-decoration: none;
}

.nav:hover {
    color: aqua;
}

.imgTD {
    margin: 1rem;
    width: 10rem;
}

.imgTD:hover {
    scale: 110%;
}

.imgCarrito {
    width: 3rem;
    margin: 1rem;
}

.imgCarrito:hover {
    scale: 110%;
}

/*Media Querys*/

@media screen and (max-width: 760px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

}

@media screen and (max-width: 465px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .nav-list {
        margin: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
    }


}