.contadorContainer{
    display: flex;
    max-width: 5rem;
    max-height: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px 0 0;
}
.contadorContainer p{
    font-size: 1.1rem;
    margin: 0 15px 0 15px;
}
.cartCountContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnContador{
    color: white;
    font-family: 'poppins';
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(#e00597, #760fb6);
    padding: .5rem;
    cursor: pointer;
    transition: .2s;
}
.btnContador:hover{
    background-image: none;
    background-color: greenyellow;
    color: #393E46;
}
.btnAgregar{
    color: white;
    font-family: 'poppins';
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(#e00597, #760fb6);
    padding: .5rem;
    cursor: pointer;
    transition: .2s;
}
.btnAgregar:hover{
    background-image: none;
    background-color: greenyellow;
    color: #393E46;
}