.contadorContainer{
    display: flex;
    max-width: 5rem;
    max-height: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px 0 0;
}
.btnContador{
    color: #16213E;
    cursor: pointer;
    margin: 0 10px 0 10px;
}
.btnContador:hover{
    border-color: #DF2E38;
    border-radius: 3px;
    background-color: #FFE3E1;
}
.btnAgregar{
    max-width: 30%;
    max-height: 2rem;
}
.btnAgregar:hover{
    border-color: #DF2E38;
    border-radius: 3px;
    background-color: #FFE3E1;
}